@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

nav {
  background-color: #222;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  height: 400px;
}

main a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: calc(min(1200px, 98%));
  margin: auto;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 40%;
  translate: -50% -50%;
  color: #222;
  font-size: calc(min(20vw, 23rem));
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel-container {
  translate: 0 -100vh;
  scale: 3;
  position: absolute;
  top: 30%;
  right: 10%;
  margin: 40px 0;
  width: 200px;
  height: 200px;
  margin: 80px auto;
  -webkit-perspective: 800px;
          perspective: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateZ(80deg);
          transform: rotateZ(80deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel-container .carousel {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.carousel-container .carousel .cell {
  position: absolute;
  width: 200px;
  height: 140px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #d1d1d1;
          box-shadow: 5px 5px 10px #d1d1d1;
  -webkit-transform: rotateY(0deg) translateZ(0px) rotateZ(-90deg);
          transform: rotateY(0deg) translateZ(0px) rotateZ(-90deg);
  -webkit-transition: scale .2s, -webkit-transform 1s;
  transition: scale .2s, -webkit-transform 1s;
  transition: transform 1s, scale .2s;
  transition: transform 1s, scale .2s, -webkit-transform 1s;
  cursor: pointer;
}

.carousel-container .carousel .cell:hover {
  scale: 1.05;
}

.carousel-container .carousel .cell.show-cell {
  border: 1px solid red;
}

.carousel-container .carousel .cell img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes dropFromTop {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes dropFromTop {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}
/*# sourceMappingURL=app.css.map */