@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;200;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 100vh;
  height: 100svh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  background-color: #161616;
  color: white;
  font-size: 2rem;
}

.container {
  width: calc(min(1200px, 98%));
  margin: auto;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

main div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

main div:nth-child(2) {
  -webkit-box-flex: 10;
      -ms-flex: 10 0 800px;
          flex: 10 0 800px;
  background-color: #d1d1d1;
}

#find-event-form {
  background-color: #025064;
  height: 100%;
  padding: 1rem;
  color: white;
}

#find-event-form ul {
  list-style: none;
}

#find-event-form ul li {
  border: 3px solid rgba(255, 255, 255, 0.329);
  border-radius: 1rem;
  padding: 1rem;
  margin: 10px 0;
}

#find-event-form ul li .box-title {
  font-size: 1.3rem;
}

#find-event-form ul li .switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: 100vw;
  overflow: hidden;
}

#find-event-form ul li .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#find-event-form ul li .switch input:checked + .slider {
  background-color: rgba(3, 109, 135, 0.6);
}

#find-event-form ul li .switch input:checked + .slider::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  content: attr(data-off);
}

#find-event-form ul li .switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgba(3, 109, 135, 0.2);
  -webkit-transition: .4s;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

#find-event-form ul li .switch .slider:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(data-on);
  color: #222;
  height: 100%;
  width: 50%;
  border-radius: 100vw;
  right: auto;
  background-color: white;
  -webkit-transition: .4s;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel-container {
  position: absolute;
  top: 35%;
  right: 15%;
  width: 200px;
  height: 200px;
  margin: 80px auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateZ(70deg);
          transform: rotateZ(70deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel-container .carousel {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carousel-container .carousel .cell {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 140px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-transform: rotateY(0deg) translateZ(0px) rotateZ(-90deg);
          transform: rotateY(0deg) translateZ(0px) rotateZ(-90deg);
}

.carousel-container .carousel .cell .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  padding: .5rem;
  left: 0;
  color: white;
  background: transparent;
}

.carousel-container .carousel .cell:hover {
  scale: 1.02;
}

.product-page {
  inherits: '.grid-7';
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

.product-page .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.product-page .info {
  text-align: center;
}

.product-page .info .first {
  font-size: 6rem;
  font-weight: bold;
}

.product-page .info .second {
  line-height: 0px;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.product-page .left {
  position: relative;
  overflow: hidden;
  background-color: #036d87;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: span 1;
}

.product-page .left .description {
  text-align: center;
}

.product-page .right {
  position: relative;
  padding: 1rem;
  grid-column: span 6;
}

.product-page .right .info {
  text-align: start;
}

.product-page .right .arrows {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.product-page .right .arrows button {
  color: rgba(255, 255, 255, 0.6);
}

.product-page .right .arrows button i {
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.product-page .right .arrows button:hover {
  color: white;
}

.page-transition {
  position: absolute;
  inset: 0;
}

.page-transition-right {
  background-color: #222;
}

.page-transition-left {
  background-color: #fff;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes dropFromTop {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes dropFromTop {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

@-webkit-keyframes scaleImage {
  0% {
    scale: .1;
  }
  100% {
    scale: 1;
  }
}

@keyframes scaleImage {
  0% {
    scale: .1;
  }
  100% {
    scale: 1;
  }
}
/*# sourceMappingURL=app.css.map */