@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;200;400;500;700&display=swap');

$blue: rgb(50, 81, 148);
$main: #161616;
$accent: rgb(112, 33, 143);
$accent-3: hsl(310, 41%, 73%);
$accent-2: hsl(221, 100%, 10%);
$carousel-radius: 308px;
$carousel-cell-width: 190px;
$carousel-cell-height: 190px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: 100svh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: $main;
  color: white;
  font-size: 2rem;
  box-shadow: 2px 2px 20px $main;
}

button {
  border: none;
  background: transparent;
  color: white;
  border-radius: 100vw;
  cursor: pointer;
}

.container {
  width: calc(min(1200px, 98%));
  margin: auto;
}

main {
  width: 100%;
  height: calc(100vh - 3rem);
  background-image: url(../images/hero-bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // animation: 40s linear transition-background-2 infinite;
  overflow: hidden;
  z-index: -1;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .left-side {
    flex: 1 0 300px;
    box-shadow: 0px 0px 30px $main;
  }

  .right-side {
    flex: 10 0 800px;
  }
}

ul {
  list-style: none;
}

#find-event-form {
  // background-color: $accent-2;
  background-color: rgba($color: $main, $alpha: .9);
  height: 100%;
  padding: 1rem;
  color: white;
  transition: .3s;

  .options {
    .box {
      border-radius: 1rem;
      padding: .5rem;
      margin: 10px 0;
      transition: .3s;

      .box-title {
        font-size: 1.3rem;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 50px;
        border-radius: 100vw;
        overflow: hidden;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked+.slider {
            background-color: rgba($color: $accent-3, $alpha: .6);
          }

          &:checked+.slider::before {
            transform: translateX(100%);
            content: attr(data-off);
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          inset: 0;
          background-color: rgba($color: $accent-3, $alpha: .2);
          -webkit-transition: .4s;
          transition: .3s;
          display: flex;
          align-items: center;
          padding: 5px;

          &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            content: attr(data-on);
            color: #222;
            height: 100%;
            width: 50%;
            border-radius: 100vw;
            right: auto;
            background-color: white;
            -webkit-transition: .4s;
            transition: .3s;
          }
        }
      }

      .toggle-section {
        transition: .3s;
        opacity: 0;
        height: 0;
        transform: translateY(-20%);
        overflow: hidden;

        &.show {
          opacity: 1;
          height: 100%;
          transform: translateY(0%);
        }

        .small-options {

          label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }

          i {
            display: none;
          }

          input[type=checkbox] {
            display: none;
          }

          li:hover {
            background-color: rgba($color: $accent-3, $alpha: .5);
          }

          li:has(input[type=checkbox]:checked) {
            background-color: $accent-3;
          }

          input[type=checkbox]:checked+i {
            display: block;
          }
        }
      }
    }
  }

  #calendar {
    text-align: center;
    margin: 1rem;

    #calendar-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 1.2rem;
      }
    }

    #calendar-selected-date {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem;
      line-height: 1rem;

      #calendar-selected-day {
        font-size: 3rem;
        font-weight: bold;
      }
    }

    #calendar-weeks {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
    }

    #calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;

      li {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          background-color: $accent-3;
        }
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      font-size: 1.3rem;
      padding: .5rem 1rem;


      &:hover {
        background-color: $accent-3;
        border: none;
      }
    }

    #clear-search-form {
      border: none;
    }

    button[type=submit] {
      border: 3px solid $accent-3;
    }
  }
}

.carousel-container {
  position: absolute;
  top: 35%;
  right: 15%;
  width: 200px;
  height: 200px;
  margin: 80px auto;
  perspective: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(70deg);
  transition: .3s;

  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: spin 10s linear infinite;

    .cell {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      overflow: hidden;
      width: 200px;
      height: 140px;
      border-radius: 5px;
      transition: 1s;
      cursor: pointer;
      transform: rotateY(0deg) translateZ(0px) rotateZ(-90deg);

      .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        padding: .5rem;
        left: 0;
        color: white;
        background: transparent;
      }

      &:hover {
        scale: (1.02);
      }
    }
  }
}

.product-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  .info {
    text-align: center;

    .first {
      font-size: 6rem;
      font-weight: bold;
    }

    .second {
      line-height: 0px;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .left {
    position: relative;
    overflow: hidden;
    background-color: $accent-3;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 1;

    .description {
      text-align: center;
    }
  }

  .right {
    position: relative;
    padding: 1rem;
    grid-column: span 6;

    .info {
      text-align: start;
    }

    .arrows {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      display: flex;
      gap: 3rem;

      button {
        color: rgba($color: #fff, $alpha: .6);

        i {
          font-size: 3rem;
          transition: .2s;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

.page-transition {
  position: absolute;
  inset: 0;
}

.page-transition-right {
  background-color: #222;
}

.page-transition-left {
  background-color: #fff;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);

  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes dropFromTop {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes scaleImage {
  0% {
    scale: .1;
  }

  100% {
    scale: 1;
  }
}

@keyframes transition-background-1 {
  from {
    background-position: 30% 50%;
    background-size: 300%;
  }

  to {
    background-position: 50% 70%;
    background-size: 300%;
  }
}

@keyframes transition-background-2 {
  from {
    background-position: 50% 60%;
    background-size: 200%;
  }

  50% {
    background-position: center;
    background-size: 100%;
  }

  to {
    background-position: 80% 40%;
    background-size: 100%;
  }
}

@keyframes transition-background-3 {
  from {
    background-position: 50% 50%;
    background-size: 300%;
  }

  to {
    background-position: center;
    background-size: 100%;
  }
}