@use './utilities.scss' as *;

// LEFT
#find-event-form {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  transition: .3s;
  padding-bottom: 3rem;

  .options {
    .box {
      border-radius: 1rem;
      padding: .5rem;
      margin: 10px 0;
      transition: .3s;

      .box-title {
        font-size: 1.3rem;
      }

      input[type='text'] {
        font-size: 1.3rem;
        width: 100%;
        border: none;
        outline: none;
        height: 50px;
        padding: .5rem 1rem;
        border-radius: 100vw;
        color: $main-color;
        background-color: rgba($color: #fff, $alpha: .8);

        &:focus {
          background-color: white;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 50px;
        border-radius: 100vw;
        overflow: hidden;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked+.slider {
            background-color: rgba($color: $accent-3, $alpha: .6);
          }

          &:checked+.slider::before {
            transform: translateX(100%);
            content: attr(data-off);
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          inset: 0;
          background-color: rgba($color: $accent-3, $alpha: .2);
          -webkit-transition: .4s;
          transition: .3s;
          display: flex;
          align-items: center;
          padding: 5px;

          &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: $main-color;
            content: attr(data-on);
            height: 100%;
            width: 50%;
            border-radius: 100vw;
            right: auto;

            -webkit-transition: .4s;
            transition: .3s;
          }
        }
      }

      .toggle-section {
        transition: .3s;
        opacity: 0;
        height: 0;
        transform: translateY(-20%);
        overflow: hidden;

        &.show {
          opacity: 1;
          height: 100%;
          transform: translateY(0%);
        }

        .small-options {

          label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }

          i {
            display: none;
          }

          input[type=checkbox] {
            display: none;
          }

          li:hover {
            background-color: rgba($color: $accent-3, $alpha: .5);
          }

          li:has(input[type=checkbox]:checked) {
            background-color: $accent-3;
          }

          input[type=checkbox]:checked+i {
            display: block;
          }
        }
      }
    }
  }

  #calendar {
    text-align: center;
    margin: 1rem;

    #calendar-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 1.2rem;
      }
    }

    #calendar-weeks,
    #calendar-days {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
    }

    #calendar-days {
      li {
        overflow: hidden;
        border-radius: 50%;

        label {
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s;

          &:not(.empty):hover {
            cursor: pointer;
            background-color: $accent-3;
          }


          &:has(input:checked) {
            background-color: $accent-3;
          }
        }

        &.weekend {
          background-color: rgba($color: $accent-3, $alpha: .2);
        }
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      font-size: 1.3rem;
      padding: .5rem 1rem;

      &:hover {
        border: none;
      }
    }
  }
}

// RIGHT

#suggested-events {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
  overflow-y: scroll;

  .pagination {
    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: .5rem 1rem;
    }
  }
}